@font-face {
    font-family: "roboto";
    src: url("../fonts/Roboto/Roboto-Black.ttf");
}
@font-face {
    font-family: "popins";
    src: url("../fonts/Poppins/Poppins-Black.ttf");
}

@font-face {
    font-family: "pt-serif";
    src: url("../fonts/PT_Serif/PTSerif-Bold.ttf");
}
@font-face {
    font-family: "caprasimo";
    src: url("../fonts/Caprasimo-Regular.ttf");
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap')