@import url("../css/font.css");
@import url("../css/partials/_variables.css");
.blur{
  filter: blur(5px);
}
body{
  overflow-x: hidden;
  position: relative;
}

.navbar{
  overflow-x: hidden;
  /* position: relative; */
}
/* .main-body{
    padding-top:56px;
} */

.profile-picture{
    width: 46px;
    border-radius: 50%;
    object-fit: cover;
  }
  .logo{
    font: normal 900 28px/24px var(--popins);
    color: #4dbf00;
  }
.navbar-nav .menu-list-items .nav-link {
    margin-right: 15px;
    font: normal 500 18px/24px var(--popins);
}

.navbar-nav .menu-list-items .nav-link:hover, .login-link:hover {
    color: #4dbf00;
}

.navbar-nav .menu-list-items .nav-link.active {
    font-weight: bold;
}

.login-link{
  color: white; 
  text-decoration: none; 
  font: normal 600 16px/24px var(--popins);
}

.navbar-scrolled{
  background-color: #212429;
  box-shadow: 0 3px 10px #8b8585;
}
.navbar {
  height: 80px;
}

@media (max-width: 768px) {
 .navbar {
    height: 60px;
  }
}
/* Styling for carousel */
.container-fluid{
     padding-left: 0;
     padding-right: 0;
}
#carouselExampleAutoplaying {
  max-width: 100%; /* Set the carousel width to 100% of its container */
}

.carousel-inner {
  width: 100%; /* Set the inner carousel content width to 100% */
  /* padding-top: 56px; */
}
.carousel-item{
  height: 50vhpx;
  position: relative; 
}
.carousel-item::before {
  content: ""; /* Create a pseudo-element */
  position: absolute; /* Position the overlay */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #212429),
  linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0.5) 100%);
}
.carousel-item img {
  width: 100%; /* Make the carousel images fill the entire width */
  height: 100%; /* Ensure images maintain aspect ratio */
  /* position: relative; */
  object-fit: cover;
  
  
}
.featured-desc {
  position: absolute;
  bottom: 10px; /* Adjust the distance from the bottom */
  left: 0;
  right: 0;
  text-align: center;
  font: bold 900 32px/24px var(--popins);
  
}

.featured-desc h5 {
  font-size: 30px;
  color: white;
  font-weight: bold;
  margin-bottom: 10px; /* Adjust the space between title and button */
  font-family: var(--popins);
}

.featured-button {
  background-color: #4dbf00;
  color: white;
  border: none;
  padding: 10px 20px;
  border: 3px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.6s ease;
  font: normal 500 20px/20px var(--popins);
}

.featured-button:hover {
  background: whitesmoke;
  color: black;
}
/* end of carousel  */
/* start of login form */
.form-container{
  position: absolute;
  max-width: 320px;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) scale(1.2);
  z-index: 101;
  background: #ffff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease-out;
}

.home.show .form-container{
  opacity: 1;
  pointer-events:auto;
  transform: translate(-50%,-50%) scale(1);
}
.signup-form{
  display: none;
}
.form-container.active .signup-form{
  display: block;
}
.form-container.active .login-form{
  display: none;
}
.form_close{
  position: absolute;
  top: 10px;
  right: 12px;
  color: #212429;
  font-size: 22px;
  opacity: 0.7;
  cursor: pointer;
}
.form-container h2{
  font: normal 200 26px/24px var(--popins);
  text-align: center;
  color: #4dbf00;
}
.input-box{
  position: relative;
  margin-top: 30px;
  width: 100%;
  height: 40px;
}
.input-box input{
    width: 100%;
    height: 100%;
    padding: 0 30px;
    border: none;
    transition: all 0.2s ease;
    background-color: #ffff;
    border-bottom: 1.5px solid #aaaaaa;
    outline: none;
    color: #515151;
}
.input-box input:focus{
  border-color: #4dbf00;
}
.input-box i{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #0f2600;
}
.input-box i.email, 
.input-box i.password{
   left: 0;
   color: #18181b;
}
.input-box input:focus ~ i.email, 
.input-box input:focus ~ i.password{
  color: #4dbf00;
}
.option-field{
  margin-top: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.option-field label{
  color: #212429;
  font-family: var(--popins);
  font-size: small;
  cursor: pointer;
  user-select: none;
}
.checkbox{
     cursor: pointer;
}
.checkbox input{
  accent-color: #4dbf00;
}
.forgot-password{
   text-decoration-line: none;
}
.form-container .button{
    background-color: #4dbf00;
    border-radius: 10px;
    margin-top: 30px;
    width: 100%;
    padding: 12px 0;
    font: normal 200 20px/24px var(--popins);
}
.login-signup{
  font-size: 12px;
  text-align: center;
  margin-top: 15px;
  color: #212429;
  font-family: var(--popins);
}
/* end of login form */
.movie-list-container{
    padding: 20px;
    margin-top: 110px;
    display: flex;
    justify-content: center;
  }
  .movie-list{
    display: flex;
    height: 300px;
    align-items: center;
  }
  .movie-list-title h1{
    font: normal 200 16px/24px var(--popins);
    /* transform: translate(0,10%); */
  }
 
  .movie-list-item{
    margin-right: 10px ;
    cursor: pointer;
    transition: transform 0.6s ease;
    /* height: 200px; */
    position: relative;
    border-radius: 6.5px;
    width: fit-content;
    padding: 0px 0px ;
    
  }
  .movie-list-item-img{
    height: 230px;
    width: 150px;
    object-fit: cover;
    border-radius: 6.5px;
  }
  .movie-list-item:hover{
    transform: scale(1.1);
    border: 1.5px solid #4dbf00;
    border-radius: 6.5px;
    
    
  }
  .movie-list-item:hover .movie-list-item-img{
    filter: brightness(0.15);
    box-shadow:white;
  }
  .movie-list-item .movie-list-item-watched,
  .movie-list-item .movie-list-item-liked {
      display: none; /* Hide the icons by default */
      font-size: x-large;
  }
  .movie-list-item:hover .movie-list-item-liked{
    display: block;
    color: red;
  }
  .movie-list-item:hover .movie-list-item-watched{
    display: block;
    color: green;
  }
  .movie-list-item-watched{
    padding: 10px 10px;
    position: absolute;
    top: 22%;
    left: 50px;
    color: white;
  }
  .movie-list-item-liked{
    padding: 10px 10px;
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    top: 60%;
    left: 55px;
  }


  /* WHAT WE OFFER CARDS */
  
/* service start */
/* .service-list-title{
  margin-bottom: 10px;
  transform: translate(14%,0);
  display: flex;
  flex-direction: column;
} */

.service-list-title h1{
  font: normal 200 24px/24px var(--popins);
  margin-bottom: 1px;
  padding-bottom: 5px;
}
.service-list-title h2{
  font: normal 200 16px/24px var(--popins);
  margin-bottom: 1px;
}


/* .service-list-wrapper{
  display: flex;
  justify-content: center;
} */
/* .service-list{
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
  flex-wrap: wrap;
} */
/* .service-list-item{
  margin: 5px 5px;
  display: flex;
  flex-direction: column;
  
} */
.notification {
  display: flex;
  flex-direction: column;
  isolation: isolate;
  position: relative;
  width: 18rem;
  height: 8rem;
  background: #29292c;
  border-radius: 1rem;
  overflow: hidden;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16px;
  --gradient: linear-gradient(to bottom, #4dbf00, #4dbf55, #5ef17b);
  --color: #32a6ff
}

.notification:before {
  position: absolute;
  content: "";
  inset: 0.0625rem;
  border-radius: 0.9375rem;
  background: #18181b;
  z-index: 2
}

.notification:after {
  position: absolute;
  content: "";
  width: 0.25rem;
  inset: 0.65rem auto 0.65rem 0.5rem;
  border-radius: 0.125rem;
  background: var(--gradient);
  transition: transform 300ms ease;
  z-index: 4;
}

.notification:hover:after {
  transform: translateX(0.15rem)
}

.notititle {
  color: #4dbf00;
  padding: 0.65rem 0.25rem 0.4rem 1.25rem;
  font-weight: 500;
  font-size: 1.1rem;
  transition: transform 300ms ease;
  z-index: 5;
}

.notification:hover .notititle {
  transform: translateX(0.15rem)
}

.notibody {
  color: #e6e6e9;
  padding: 0 1.25rem;
  transition: transform 300ms ease;
  z-index: 5;
}

.notification:hover .notibody {
  transform: translateX(0.25rem)
}

.notiglow,
.notiborderglow {
  position: absolute;
  width: 20rem;
  height: 20rem;
  transform: translate(-50%, -50%);
  background: radial-gradient(circle closest-side at center, white, transparent);
  opacity: 0;
  transition: opacity 300ms ease;
}

.notiglow {
  z-index: 3;
}

.notiborderglow {
  z-index: 1;
}

.notification:hover .notiglow {
  opacity: 0.1
}

.notification:hover .notiborderglow {
  opacity: 0.1
}

.note {
  color: var(--color);
  position: fixed;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 0.9rem;
  width: 75%;
}
/* service end */
/* carousel cards */
.item {
  width: fit-content;

}
.owl-carousel .movie-card {
  background-color: #f8f9fa; /* Example: Set background color for the card */
  border-radius: 10px; /* Example: Add rounded corners to the card */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Example: Add a subtle shadow to the card */
  width: 150px;
  height: 250px;
  
}
.card-img-top {
  width: 150px; /* Ensure the image width fills the card */
  height: 250px; /* Let the height adjust proportionally */
  object-fit: cover; /* Ensure the image covers the entire card */
  border-radius: 10px ; /* Example: Add rounded corners only to the top */
}
.owl-carousel .item {
  margin-right: 5px; /* Adjust the right margin */
  transition: transform 0.6s ease; /* Smooth transition for scaling */
  
}

.owl-carousel .movie-card:hover {
  transform: scale(1.1); /* Scale up on hover */
  border: 1.5px solid #4dbf00;
  border-radius: 10px;
}


/* oscars section */
.gradient-section {
  position: relative;
  width: 100%;
  height: 350px;
  margin: 60px 0;
}

.gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg,  #4dbf00, #45ac00,#3e9900, #368600, #2e7300, #276000, #1f4c00, #173900, #0f2600,#212429 );
  background-size: 200% 200%;
  animation: gradientAnimation 10s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.container-fluid {
  position: relative;
  z-index: 1;
}


.ring-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.ring {
  position: absolute;
  bottom: -100px; /* Adjust to position the semi-rings properly */
  left: -200px; /* Adjust to position the semi-rings properly */
  width: 400px; /* Adjust the width for bigger rings */
  height: 200px; /* Half the width to create semi-circles */
  border: 8px solid rgba(255, 255, 255, 0.5); /* Adjust the border thickness */
  border-radius: 100px; /* Adjust the border radius to create semi-circles */
  opacity: 0; /* Initial opacity */
  animation: animateRing 3s linear infinite; /* Faster speed */
}

@keyframes animateRing {
  0% {
    transform: scale(0); /* Initial transform */
    opacity: 0.5;
  }
  50% {
    transform: scale(1.2); /* Scale up */
    opacity: 0;
  }
  100% {
    transform: scale(2); /* Scale up further */
    opacity: 0;
  }
}

/* Apply animation delays to each ring to make them move successively */
.ring:nth-child(2) {
  animation-delay: 0.5s; /* Delay the start of animation for the second ring */
}

.ring:nth-child(3) {
  animation-delay: 1s; /* Delay the start of animation for the third ring */
}
/* end of oscar section  */

/* start of popular section */
/* .popular-container{
  margin-bottom: 20px;
  margin-top: 60px;
} */
/* popular-lists */
.popular-title{
  font: normal 200 px/24px var(--popins);
  margin-bottom: 0;
}
.gradient-background {
  background-image: linear-gradient(to bottom, #515151, #525252, #535353, #545454, #555555,#565656,#575757,#585858,#595959, #5a5a5a, #5f5f5f);
}

/* .img-popular-poster{
  object-fit: cover;
} */

/* .poster-column{
  align-items: center;
} */


/* movie cast actors image */
.card-img-top {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.castCard{
  width:fit-content;
  border:none;
}
.popular-title{
  font: normal 200 24px/24px var(--popins) !important;
  margin-bottom: 1px;
}

.gradient-overlay2 {
        position: relative;
    }

.gradient-overlay2::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.3));
        z-index: -1;
    }

.card {
        position: relative;
        z-index: 2;
        object-fit: cover;
    }
.popular-lists-img{
   background-size: cover;
   position: relative;
   z-index: -2;
}

/* popular-lists */
.card1-container {
  position: absolute;
  /* transform: translate(50%,50%); */
}

.card1 {
  position: absolute;
  padding-left: 10px;
  width: 100%;
  transform: translateX(500%);
  transition: transform 0.3s ease;
}

.card1 img {
  height:200px;
  border-bottom: 1px solid #ccc;
  border: 1px solid;
  border-radius: 8px;
  object-fit: cover;

}
.card1:nth-child(1) {
  top: 0;
  left: 0;
  z-index: 2;
}

.card1:nth-child(2) {
  top: 0; /* Adjust the distance between cards */
  left: 0; /* Adjust the distance between cards */
  z-index: 1;
}
.card1:nth-child(3) {
  top: 0; /* Adjust the distance between cards */
  left: -50px; /* Adjust the distance between cards */
  z-index: 1;
}


