:root{
    --roboto: 'roboto', cursive;
    --popins: 'popins', cursive;
    --ptSerif: 'pt-serif', cursive;
    --caprasimo: 'caprasimo', cursive;
    --abril-fatface: 'abril-fatface', cursive;
}
